In [17]:
import pandas as pd
import datetime as dt

## Date and Time Modules

### DateTime Module

In [18]:
birthday=dt.date(2001,7,27) # year, month, day

In [19]:
dt.datetime(2001,7,27,8,30) # year, month, day, hour, minute

birthday=dt.datetime(2001,7,27,8,30,57) # year, month, day, hour, minute, second

dt.datetime(2001,7,27) # if no time is informed it will attribute zeros to hour and minute

datetime.datetime(2001, 7, 27, 0, 0)

    The str method will format it accordingly

In [20]:
str(dt.datetime(2001,7,27,8,30,57))

'2001-07-27 08:30:57'

    The dateTime object has some attributes that can be extracted

In [21]:
birthday.year
birthday.month
birthday.day
birthday.hour
birthday.minute
birthday.second

57

### Pandas TimeStamp object

    It accepts a wide variety of formatings

In [27]:
pd.Timestamp('2001-07-27 15:30:57')

Timestamp('2001-07-27 15:30:57')

In [24]:
pd.Timestamp('2001/07/27')

Timestamp('2001-07-27 00:00:00')

In [26]:
pd.Timestamp('2001, 07, 27')

Timestamp('2001-07-27 00:00:00')

In [29]:
pd.Timestamp('27-07-2001') # may occur error when it it not able to differentiate month and days

C:\Users\Pichau\AppData\Local\Temp\ipykernel_2756\1763998927.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.Timestamp('27-07-2001') # may occur error when it it not able to differentiate month and days

Timestamp('2001-07-27 00:00:00')

In [33]:
pd.Timestamp('07-27-2001')

Timestamp('2001-07-27 00:00:00')

    It also interprets AM and PM

In [34]:
pd.Timestamp('2001-07-27 3:30:57 PM')

Timestamp('2001-07-27 15:30:57')

    It also interprets written data

In [53]:
pd.Timestamp('July, 27th, 2001')

Timestamp('2001-07-27 00:00:00')

    You may provide pandas a datetime object

In [35]:
pd.Timestamp(dt.datetime(2001,7,27))

Timestamp('2001-07-27 00:00:00')

### Pandas DateTimeIndex object

In [38]:
dates=['2023-04-01','2023-04-02','2023-04-03']
pd.DatetimeIndex(dates) #it will first convert the inputs to DateTime objects and then store them on a list

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03'], dtype='datetime64[ns]', freq=None)

Also works with datetime module

In [46]:
dates=[dt.date(2023,4,1),dt.date(2023,4,2),dt.date(2023,4,3)]
dtIndex=pd.DatetimeIndex(dates)
dtIndex

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03'], dtype='datetime64[ns]', freq=None)

    Implementing the index on a Series

In [48]:
values=[100,200,300]
pd.Series(data=values, index=dtIndex)

2023-04-01    100
2023-04-02    200
2023-04-03    300
dtype: int64

### .to_datetime() Method

Usually used for existing values on a dataset

In [49]:
pd.to_datetime('2001-07-27 15:30:57')

Timestamp('2001-07-27 15:30:57')

In [52]:
pd.to_datetime(dt.datetime(2023,4,1,15,30,57))

Timestamp('2023-04-01 15:30:57')

In [55]:
dates=pd.Series(['July, 27th, 2001','2001-07-27 3:30:57 PM','2001/07/27'])

pd.to_datetime(dates)

0   2001-07-27 00:00:00
1   2001-07-27 15:30:57
2   2001-07-27 00:00:00
dtype: datetime64[ns]

    Parsing error messages

In [58]:
dates=pd.Series(['July, 27th, 2001','2001-07-27 3:30:57 PM','Hello','2001/07/27'])

pd.to_datetime(dates,errors='coerce') #if it is not able to convert some values it will insert 'NaT', but will convert the rest

0   2001-07-27 00:00:00
1   2001-07-27 15:30:57
2                   NaT
3   2001-07-27 00:00:00
dtype: datetime64[ns]

    Passing Unix times

"Unix time is a date and time representation widely used in computing. It measures time by the number of seconds that have elapsed since 00:00:00 UTC on 1 January 1970"

In [61]:
pd.to_datetime([1680476245,1680712861,1680734887],
               unit='s')# unit in seconds

DatetimeIndex(['2023-04-02 22:57:25', '2023-04-05 16:41:01',
               '2023-04-05 22:48:07'],
              dtype='datetime64[ns]', freq=None)

### pd.date_range() Method

Providing Start and End dates

    Working with different range frequencies

In [69]:
pd.date_range(start='2022-07-27', end='2023-07-27', # date range
              freq='1D' # one day frequency
              )

DatetimeIndex(['2022-07-27', '2022-07-28', '2022-07-29', '2022-07-30',
               '2022-07-31', '2022-08-01', '2022-08-02', '2022-08-03',
               '2022-08-04', '2022-08-05',
               ...
               '2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21',
               '2023-07-22', '2023-07-23', '2023-07-24', '2023-07-25',
               '2023-07-26', '2023-07-27'],
              dtype='datetime64[ns]', length=366, freq='D')

In [70]:
pd.date_range(start='2023-04-06', end='2023-07-27', # date range
              freq='W-FRI' # Weekly Frequency, counting on every Friday
              )

DatetimeIndex(['2023-04-07', '2023-04-14', '2023-04-21', '2023-04-28',
               '2023-05-05', '2023-05-12', '2023-05-19', '2023-05-26',
               '2023-06-02', '2023-06-09', '2023-06-16', '2023-06-23',
               '2023-06-30', '2023-07-07', '2023-07-14', '2023-07-21'],
              dtype='datetime64[ns]', freq='W-FRI')

In [72]:
pd.date_range(start='2023-04-06', end='2023-04-08', # date range
              freq='6H' # 6 Hours Frequency
              )

DatetimeIndex(['2023-04-06 00:00:00', '2023-04-06 06:00:00',
               '2023-04-06 12:00:00', '2023-04-06 18:00:00',
               '2023-04-07 00:00:00', '2023-04-07 06:00:00',
               '2023-04-07 12:00:00', '2023-04-07 18:00:00',
               '2023-04-08 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [73]:
pd.date_range(start='2023-04-06', end='2023-07-27', # date range
              freq='M' # Monthly frequency, last day of each month
              )

DatetimeIndex(['2023-04-30', '2023-05-31', '2023-06-30'], dtype='datetime64[ns]', freq='M')

In [74]:
pd.date_range(start='2001-07-27', end='2023-07-27', # date range
              freq='A' # Annual frequency, last day of each year
              )

DatetimeIndex(['2001-12-31', '2002-12-31', '2003-12-31', '2004-12-31',
               '2005-12-31', '2006-12-31', '2007-12-31', '2008-12-31',
               '2009-12-31', '2010-12-31', '2011-12-31', '2012-12-31',
               '2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31',
               '2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

Providing Start date and Period

In [76]:
pd.date_range(start='2001-07-27', periods=22, # Start date and periods expected (22 Years, as we specified the frequency as A)
              freq='A' # Annual frequency, last day of each year
              )

DatetimeIndex(['2001-12-31', '2002-12-31', '2003-12-31', '2004-12-31',
               '2005-12-31', '2006-12-31', '2007-12-31', '2008-12-31',
               '2009-12-31', '2010-12-31', '2011-12-31', '2012-12-31',
               '2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31',
               '2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [80]:
pd.date_range(start='2023-04-06', periods=15, # Start date and periods expected (22 Years, as we specified the frequency as A)
              freq='B' # Bussines days
              )

DatetimeIndex(['2023-04-06', '2023-04-07', '2023-04-10', '2023-04-11',
               '2023-04-12', '2023-04-13', '2023-04-14', '2023-04-17',
               '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21',
               '2023-04-24', '2023-04-25', '2023-04-26'],
              dtype='datetime64[ns]', freq='B')

In [82]:
pd.date_range(start='2023-04-06', periods=14, # Start date and periods expected (14 weeks, as we specified the frequency as W)
              freq='W' # Weekly Frequency, counting each Sunday
              )

DatetimeIndex(['2023-04-09', '2023-04-16', '2023-04-23', '2023-04-30',
               '2023-05-07', '2023-05-14', '2023-05-21', '2023-05-28',
               '2023-06-04', '2023-06-11', '2023-06-18', '2023-06-25',
               '2023-07-02', '2023-07-09'],
              dtype='datetime64[ns]', freq='W-SUN')

In [87]:
pd.date_range(start='2023-04-06', periods=8, # date range
              freq='MS' # Monthly frequency, Starting day of each month
              )

2023-05-01    1
2023-06-01    1
2023-07-01    1
2023-08-01    1
2023-09-01    1
2023-10-01    1
2023-11-01    1
2023-12-01    1
dtype: int64

Providing End date and Period

In [89]:
dates=pd.date_range(end='2023-04-06',periods=16, # End date and period expected 
              freq='2M') # 2 months, counting on the last day of each month

dates

DatetimeIndex(['2020-09-30', '2020-11-30', '2021-01-31', '2021-03-31',
               '2021-05-31', '2021-07-31', '2021-09-30', '2021-11-30',
               '2022-01-31', '2022-03-31', '2022-05-31', '2022-07-31',
               '2022-09-30', '2022-11-30', '2023-01-31', '2023-03-31'],
              dtype='datetime64[ns]', freq='2M')

### .dt Accessor

    The .dt accessor is necessary to access the atributes of date objects inside a Series or DataFrame

In [90]:
s=pd.Series(dates)
s.head()

0   2020-09-30
1   2020-11-30
2   2021-01-31
3   2021-03-31
4   2021-05-31
dtype: datetime64[ns]

In [92]:
s.dt.day.head()

0    30
1    30
2    31
3    31
4    31
dtype: int64

There are several date attributes that can be verified with dt

In [95]:
s.dt.is_month_end.head()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [96]:
s.dt.is_month_start.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

Can also be applied as a filter

In [99]:
mask=s.dt.is_quarter_end

s[mask]

0    2020-09-30
3    2021-03-31
6    2021-09-30
9    2022-03-31
12   2022-09-30
15   2023-03-31
dtype: datetime64[ns]