In [2]:
import pandas as pd
import pandas_datareader as pdr

# Pandas DataReader

Used to extract data from a wide range of Internet sources into a pandas DataFrame

In [3]:
pdr.DataReader(name='Microsoft',# dataset name
               data_source='stooq', # where the data will be acquired
               start='2010-01-01',end='2023-12-31' # period of the data
               )

Empty DataFrame
Columns: []
Index: []

### Selecting and filtering DateTime objects inside DataFrames

In [4]:
dates=pd.date_range(end='2023-04-06',periods=16, # End date and period expected 
              freq='2M') # 2 months, counting on the last day of each month

dates

DatetimeIndex(['2020-09-30', '2020-11-30', '2021-01-31', '2021-03-31',
               '2021-05-31', '2021-07-31', '2021-09-30', '2021-11-30',
               '2022-01-31', '2022-03-31', '2022-05-31', '2022-07-31',
               '2022-09-30', '2022-11-30', '2023-01-31', '2023-03-31'],
              dtype='datetime64[ns]', freq='2M')

In [5]:
df=pd.DataFrame(index=dates)
df['example']=1

df

            example
2020-09-30        1
2020-11-30        1
2021-01-31        1
2021-03-31        1
2021-05-31        1
2021-07-31        1
2021-09-30        1
2021-11-30        1
2022-01-31        1
2022-03-31        1
2022-05-31        1
2022-07-31        1
2022-09-30        1
2022-11-30        1
2023-01-31        1
2023-03-31        1

In [6]:
df.index #indexes
df.columns #column names
df.axes #all values from the columns and rows (both axis)
df.index.month_name() #name of the month of specific
df.index.day_name()

Index(['Wednesday', 'Monday', 'Sunday', 'Wednesday', 'Monday', 'Saturday',
       'Thursday', 'Tuesday', 'Monday', 'Thursday', 'Tuesday', 'Sunday',
       'Friday', 'Wednesday', 'Tuesday', 'Friday'],
      dtype='object')

    It is recommended to transform the string provide to datetime when the values are in datetime

In [7]:
df.loc[pd.Timestamp('2021-09-30')]

example    1
Name: 2021-09-30 00:00:00, dtype: int64

In [8]:
df.loc[[pd.Timestamp('2021-09-30'),pd.Timestamp('2023-01-31')]]

            example
2021-09-30        1
2023-01-31        1

### .truncate()

In [9]:
df.truncate(before='2021-09-30', #first value,
            
            after='2023-01-31') #last/limit value

            example
2021-09-30        1
2021-11-30        1
2022-01-31        1
2022-03-31        1
2022-05-31        1
2022-07-31        1
2022-09-30        1
2022-11-30        1
2023-01-31        1

Works the same as the .loc slicing

In [10]:
df.loc['2021-09-30':'2023-01-31']

            example
2021-09-30        1
2021-11-30        1
2022-01-31        1
2022-03-31        1
2022-05-31        1
2022-07-31        1
2022-09-30        1
2022-11-30        1
2023-01-31        1

### .insert()

In [11]:
quarter=df.index.is_quarter_end

df.insert(1, #at index column 1
          'Is Quarter End', #column name
          quarter#data to be inserted
          )

df

            example  Is Quarter End
2020-09-30        1            True
2020-11-30        1           False
2021-01-31        1           False
2021-03-31        1            True
2021-05-31        1           False
2021-07-31        1           False
2021-09-30        1            True
2021-11-30        1           False
2022-01-31        1           False
2022-03-31        1            True
2022-05-31        1           False
2022-07-31        1           False
2022-09-30        1            True
2022-11-30        1           False
2023-01-31        1           False
2023-03-31        1            True

### pd.DateOffset

Add or remove a set amount of time

In [12]:
#subtracting:
df.index + pd.DateOffset(days=-5) 
#or
df.index - pd.DateOffset(days=5)

df.index+pd.DateOffset(weeks=5)#when is positive there is no need for the plus + sign

df.index+pd.DateOffset(months=1)

dates.index=df.index+pd.DateOffset(years=-3, months=2, days=1, hours=6) # you may add multiple parameters, even time
dates

DatetimeIndex(['2020-09-30', '2020-11-30', '2021-01-31', '2021-03-31',
               '2021-05-31', '2021-07-31', '2021-09-30', '2021-11-30',
               '2022-01-31', '2022-03-31', '2022-05-31', '2022-07-31',
               '2022-09-30', '2022-11-30', '2023-01-31', '2023-03-31'],
              dtype='datetime64[ns]', freq='2M')

### TimeSeries .tseries

In [13]:
dates.index + pd.tseries.offsets.MonthEnd() # this will get every last end month day ahead of the provided values

DatetimeIndex(['2017-12-31 06:00:00', '2018-02-28 06:00:00',
               '2018-04-30 06:00:00', '2018-06-30 06:00:00',
               '2018-08-31 06:00:00', '2018-10-31 06:00:00',
               '2018-12-31 06:00:00', '2019-02-28 06:00:00',
               '2019-04-30 06:00:00', '2019-06-30 06:00:00',
               '2019-08-31 06:00:00', '2019-10-31 06:00:00',
               '2019-12-31 06:00:00', '2020-02-29 06:00:00',
               '2020-04-30 06:00:00', '2020-06-30 06:00:00'],
              dtype='datetime64[ns]', freq=None)

In [14]:
dates.index - pd.tseries.offsets.BMonthEnd() #last Business month End date from provided values

DatetimeIndex(['2017-11-30 06:00:00', '2017-12-29 06:00:00',
               '2018-03-30 06:00:00', '2018-05-31 06:00:00',
               '2018-07-31 06:00:00', '2018-09-28 06:00:00',
               '2018-11-30 06:00:00', '2018-12-31 06:00:00',
               '2019-03-29 06:00:00', '2019-05-31 06:00:00',
               '2019-07-31 06:00:00', '2019-09-30 06:00:00',
               '2019-11-29 06:00:00', '2019-12-31 06:00:00',
               '2020-03-31 06:00:00', '2020-05-29 06:00:00'],
              dtype='datetime64[ns]', freq=None)

## TimeDelta Object

Represents a time duration, an interval duration

allowed keywords are [weeks, days, hours, minutes, seconds, milliseconds, microseconds, nanoseconds]

In [15]:
time_a=df.index[0]
time_b=df.index[1]

time_b-time_a # the difference will be a Timedelta object

Timedelta('61 days 00:00:00')

In [16]:
time_a+pd.Timedelta(days=3)

Timestamp('2020-10-03 00:00:00', freq='2M')

    Creating Timedelta objects

In [17]:
pd.Timedelta(weeks=1, days=3, hours=5)

Timedelta('10 days 05:00:00')

it also interprets strings

In [18]:
pd.Timedelta('5 days, 10 hours, 7 minutes')

Timedelta('5 days 10:07:00')

In [25]:
shipping=pd.read_csv('db/ecommerce.csv', index_col='ID', parse_dates=['order_date','delivery_date'])
shipping

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

    Time delta on a dataFrame

In [27]:
days=shipping['delivery_date']-shipping['order_date']
days

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [29]:
shipping['delivery_time']=days
shipping

    order_date delivery_date delivery_time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [31]:
shipping.delivery_time.sort_values(ascending=False)

ID
884   3583 days
314   3580 days
904   3562 days
130   3423 days
331   3379 days
         ...
310     16 days
994     10 days
19       9 days
612      9 days
898      8 days
Name: delivery_time, Length: 501, dtype: timedelta64[ns]

In [32]:
shipping.delivery_time.min()

Timedelta('8 days 00:00:00')